<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077888298122-f5lub7hsdig7mjou5u223fthdpvqi1vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077888298122-f5lub7hsdig7mjou5u223fthdpvqi1vk</string>
	<key>API_KEY</key>
	<string>AIzaSyC6VXHHsgnyru0r55TGnRAMZmLqx6vHNzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1077888298122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DMN.Dronalaya</string>
	<key>PROJECT_ID</key>
	<string>dronalaya-82988</string>
	<key>STORAGE_BUCKET</key>
	<string>dronalaya-82988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077888298122:ios:f52091cf57da9e66501173</string>
	<key>DATABASE_URL</key>
	<string>https://dronalaya-82988.firebaseio.com</string>
</dict>
</plist>