<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851450665918-st6uh242oubnmet5ssao394t00qpbngk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851450665918-st6uh242oubnmet5ssao394t00qpbngk</string>
	<key>API_KEY</key>
	<string>AIzaSyDGb9iu-C9vXr6-q5dLZ_cAjQNlD5s-P4U</string>
	<key>GCM_SENDER_ID</key>
	<string>851450665918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.philips.Educate</string>
	<key>PROJECT_ID</key>
	<string>educate-e4215</string>
	<key>STORAGE_BUCKET</key>
	<string>educate-e4215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851450665918:ios:ae196753406d10e23537ef</string>
	<key>DATABASE_URL</key>
	<string>https://educate-e4215.firebaseio.com</string>
</dict>
</plist>